/* 
nav{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
} */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

head{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body{
  /* background-color:white; */
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #1f1d1d;
  color :'white';
}


ul.dropdown-menu {
  list-style-type:none;
  margin: 0;
  overflow:auto;
  background-color: #333333;
}

li {
  float: left;
}

li a.dropdown-item {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  justify-content: left;
  
}

li a.dropdown-item:hover {
  background-color: #d3770e;
} */

li a.dropdown-item {
  display: block;
  color: white;
  text-align: center;
  padding: 26px;
  text-decoration: none;
  justify-content: left;
  
}

footer {

  position:absolute;
  /* bottom:0; */
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf; 
}


div.chart{
  width:80%;
  height:80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  bottom: 10px;
  box-sizing: content-box;
} 

.chart-container{
  position: relative;
}
 canvas{
   /* width: 100px;
   height: 100px; */
   background-color: 1f1d1d;
 }

@media  (max-width : 600px){
  body{
    background-color: cadetblue;
  }
  

  div.chart{
    width:98%;
    height:80%;
    padding-left: 1%;
    padding-right: 1%;
    /* bottom: 10px; */
  } 

 
}