/* 
nav{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
} */

/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
} */

head{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body{
  /* background-color:white; */
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #1f1d1d;
  color :'white';
  /* display: flex; */
}
.block-content-graph{
  display: flexbox;
}

ul.symbol-properties{
  display: inline-block;
  list-style-type:none;
}
li.symbol-info {
  float: left;
}

li.symbol-info a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li.symbol-info a:hover {
  color: #d3770e;
}


ul.dropdown-menu {
  list-style-type:none;
  margin: 0;
  overflow:auto;
  background-color: #333333;
}

li {
  float: left;
}

li a.dropdown-item {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  justify-content: left;
  
}

li a.dropdown-item:hover {
  background-color: #d3770e;
} */

li a.dropdown-item {
  display: block;
  color: white;
  text-align: center;
  padding: 26px;
  text-decoration: none;
  justify-content: left;
  
}



/* a.symbols-i-info{
  color:#d3770e;
} */





.chart-container{
  
  /* display: flex; */
  position: relative;
  /* width: 500px;;
  padding-right: 20px; */
  /* height: 100vh; */
  /* padding-top: 0; */
}
 canvas{
  height: 50vh; 
  width: 90%; 
  display: block;
  padding-right: 5%;
  padding-left: 5%;
   background-color: #1f1d1d;
   
   /* width: 90%;
   height: 90%; */
 }

 footer {

  position:absolute;
  /* bottom:0; */
  width:100%;
  height:60px;   /* Height of the footer */
  /* background:#6cf;  */
}

 
@media  (max-width : 600px){
  body{
    background-color:  #333333;
  }
  

  div.chart{
    width:98%;
    height:80%;
    padding-left: 1%;
    padding-right: 1%;
    /* bottom: 10px; */
  } 

  .chart-container{
  
    /* display: flex; */
    position: relative;
    /* width: 500px;;
    padding-right: 20px; */
    /* height: 100vh; */
    /* padding-top: 0; */
  }
   canvas{
    
    
    display: block;
    width: 98%; 
    height: 50%; 
    /* padding-right: 5%;
    padding-left: 2%; */
     background-color: #1f1d1d;
     
     /* width: 90%;
     height: 90%; */
   }
}