<div class="available symbols" id='symbols-list'>

    <ul class="items" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item1" method="post" action="/results" name="ticker" href="/results/bitcoin">Bitcoin</a></li>
        <li><a class="dropdown-item2" method="post" action="/results" name="ticker" href="/results/binance coin">BNB</a></li>
        <li><a class="dropdown-item3" method="post" action="/results" name="ticker" href="/results/ethereum">Ethereum</a></li>
      </ul>
</div>