<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    
    <title>Dropdown</title>
</head>


<body>
    <div class=search-symbols id=symbol-search>
    <form action="/results" method="post">
        <input type="text" id="symbol" name="ticker" placeholder="symbol">
        
        
        
        <button type="submit">Login</button>


        <select name="tickerDropDown" method="POST" action="/">
            {% for s in symbols %}
                <option value="{{s}}" SELECTED>{{s}}</option>"
            {% endfor %}
        </select>
    </form>
    </div>
    

</body>



</html>