<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test {{user}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/test.css') }}">
    <script>
        setInterval(function() {
                  window.location.reload();
                }, 20000); 
    </script>
</head>
<body>
    <nav>
        <div class="title-div">
            <h1 class="page title"></h1>hello {{user}}
        </div>
        <div class="menu-options">
            <ul class="menu-items">
                <li class="dropdown-btn">Dropdown
                    <ul class="DropDown-list" >
                        <li><a class="dropdown-subitem" method="post" action="/test" name="ticker" href="/test/panos">Bitcoin</a></li>
                        <li><a class="dropdown-subitem" method="post" action="/test" name="ticker" href="/test/panos2">BNB</a></li>
                        <li><a class="dropdown-subitem" method="post" action="/test" name="ticker" href="/test/panos3">Ethereum</a></li>  
                        <li><a class="dropdown-subitem" method="post" action="/test" name="ticker" href="/test/panos51">XRP</a></li>  
                    </ul>
                </li>
                    <li><a class="dropdown-item" method="post" action="/test1" name="home" href="/test/panos6">home</a></li>
            
            </ul>
        </div>

    </nav>

    <br>
    <br>

    <div class="intro-container">
        <h2 id="intro">CRYPTO</h2>
    </div>

    <div class="product-container">
        <div class="crypto-container">
            <h2 class="product-category" id="crypto">CRYPTO</h2>
        </div>
        
        <div class="stocks-container">
            <h2 class="product-category" id="stocks">STOCKS</h2>
        </div>

        <div class="Forex-container">
            <h2 class="product-category" id="forex">FOREX</h2>
        </div>

    </div>





    
</body>
</html>